.carteHomebody{
    border: 1px solid lightgray;
    border-radius: 0.5em;
    padding: 1em;
    margin: auto;
}

.cardHomeImage{
    width: 150px;
    height: 150px;
}

.cardTitle{
    margin-top: 1em;
    font-weight: bolder;
    font-size: 1.5em;
}

.playbutton{
    background: rgb(172, 201, 129);
    font-size: 1em;
    margin-top:1em;
    width: 100px;
}