.carteHomebody{
    border: 1px solid lightgray;
    border-radius: 0.5em;
    padding: 1em;
    margin: auto;
}

.cardHomeImage{
    width: 150px;
    height: 150px;
}

.cardTitle{
    margin-top: 1em;
    font-weight: bolder;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.playbutton{
    background:rgb(121, 184, 107);
    font-size: 1em;
    color: black;
    text-decoration: none;
    padding: 0.3em 3em;
    border-radius: 0.3em;
}

