.navbody{
    margin:0 5%;
    color: white;
    text-decoration: none;
    background-color:rgb(62, 62, 171);
    display: flex;
    padding: 1.5em;

}

.navLinkBrand{
    font-weight: bold;
    margin-right: 2em;
    text-decoration: none;
    color: white;
    justify-content: flex-start;
}
.links{
    display: grid;
    grid-template-columns: 20% 35% 250% 0%;

}
.navlink{  
    margin-right: 1em;
    text-decoration: none;
    color: white;
}
.navlinklogin{
    text-decoration: none;
    color: white;
}
